.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: $purple1;

  &-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    fill: $purple1;
  }

  &-museum {
    fill: $blue;
  }

  &-theater {
    stroke: $orange;
  }

  &-concert {
    fill: $pink;
  }

  &-stadium {
    width: 68px;
    height: 46px;
  }
}

.tuto {
  width: 32px;
  height: 32px;
  background-color: $purple4;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $purple1;
  }

  .icon {
    width: 32px;
    height: 24px;
    fill: $white;
  }
}

.cross {
  position: absolute;
  top: 15px;
  right: 15px;

  .icon {
    width: 15px;
    height: 15px;

    &:hover {
      fill: $purple1;
    }
  }
}