.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: $purple1;

  &-theater {
    stroke: $purple1;
  }

  &-stadium {
    width: 68px;
    height: 46px;
  }

  &-share {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}

.icon-logo {
  height: 50px;
  width: 50px;

  circle {
    stroke: $white;
    fill: transparent;
  }
}

// APPLY GRADIENTS
.icon {
  &-logo,
  &-arrow {
    fill: url(#gradient);
  }
}

.tuto {
  width: 32px;
  height: 32px;
  background-color: $purple4;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $purple1;
  }

  .icon {
    width: 32px;
    height: 24px;
    fill: $white;
  }
}

.cross {
  position: absolute;
  top: 15px;
  right: 15px;

  .icon {
    width: 15px;
    height: 15px;

    &:hover {
      fill: $purple1;
    }
  }
}