@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/SofiaPro-Black.woff2') format('woff2'),
      url('../../fonts/SofiaPro-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/SofiaPro-Bold.woff2') format('woff2'),
      url('../../fonts/SofiaPro-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/SofiaPro-SemiBold.woff2') format('woff2'),
      url('../../fonts/SofiaPro-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/SofiaPro.woff2') format('woff2'),
      url('../../fonts/SofiaPro.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/SofiaPro-Light.woff2') format('woff2'),
      url('../../fonts/SofiaPro-Light.woff') format('woff');
  font-display: swap;
}