/**
* COLORS
*/

// PRIMARY :
$black: #222222;
$white: #FFFFFF;
$background: #F8F8F8;
$purple: #4452C5;
$aquamarine: #64E0B9;

$purple1: #4452C5;
$purple2: #6975D1;
$purple3: #8F97DC;
$purple4: #B4BAE8;
$purple5: #DADCF3;
$purple6: #F0F3F8;


// SECONDARY
$blueDark: #0081E3;
$blueMid: #00A6E2;
$blueLight: #00C6CE;
$greenMint: #64E0B9;

$greenLight: #27FB6B;


// GRADIENTS :
$gradient: linear-gradient(270deg, #64E0B9 0%, #4451C4 100%);
$gradient2: linear-gradient(90deg, #4451C4 0%, #27FB6B 100%);
$gradientLight: linear-gradient(270deg, rgba(100, 224, 185, 0.15) 0%, rgba(68, 81, 196, 0.15) 100%);

/**
* FONTS
*/
$font: 'Sofia Pro', sans-serif;

/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

$big-desktop-up: 1600px;
$big-desktop-down: 1599px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

@mixin big-desktop-up {
  @media (min-width: $big-desktop-up) {
    @content;
  }
}
@mixin big-desktop-down {
  @media (max-width: $big-desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 80px;