.dashboard {
  position: relative;
  right: 0;
  padding: 10px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: $background;
  box-shadow: 0px 2px 20px rgba(107, 117, 202, 0.2);
  transition: all 0.5s ease-in-out;

  @include desktop-up {
    width: 100%;
    max-width: 550px;
    height: 100vh;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    height: 40px;
  }

  .tuto {
    position: absolute;
    bottom: 10px;
    left: -42px;
  }

  &.is-closed {
    position: absolute;
    right: -550px;
  }

  .cross {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    
    .icon {
      width: 15px;
      height: 15px;
      transition: fill 0.3s;
      fill: $white;
  
      &:hover {
        fill: $purple;
      }
    }
  }
}