.map {
  display: flex;
  width: 100%;

  &__wrapper {
    height: 77vh;
    margin: auto auto;  
  }

  .cls-1 {
    fill: none;
    stroke: $white;
    stroke-width: 14px;
  }
  
  .cls-1,.cls-3{
    stroke-miterlimit:10;
  }
  
  .cls-2{
    filter: drop-shadow(15px 15px 20px rgba(68, 82, 197, 01));
    stroke:$white;
    stroke-linejoin:round;
    border-radius: 20px;
    z-index: 1;
  }
  
  .cls-2,.cls-3{
    stroke-width:6px;
  }
  
  .cls-3{
    fill:#6ce3ff;
    stroke: $white;
  }
}

.pin__content {
  display:none;
}

.pin:hover {
  .pin__content {
    display: block;
  }
}