.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $purpleLight;
  box-shadow: 0px 4px 35px rgba(207, 207, 207, 0.25);
  
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 15px 0;
    cursor: pointer;

    &--logo {
      position: absolute;
      top: 0;
    }

    &--sport {
      margin: 15px 0;

      &.is-selected, &:hover {
        background-color: $white;
 
        .menu__dropdown {
          position: absolute;
          left: 52px;
          z-index: 1;
        }
      }

      .menu {
        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        
        &__title {
          margin: 10px 0;
        }

        &__dropdown {
          position: absolute;
          left: -250px;
          z-index: -1;
        }
      }
    }
  }

  &__icon {
    margin-right: 10px;
    width: 32px;
    height: 32px;

    .menu__item.is-clicked & {
      .icon {
        fill: $purple;
      }
    }
  }

  &__title {
    display: none;
  }
}