.page-selection {
  background: $gradientLight;
  height: 100vh;

  &__head {
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;

    strong {
      background: linear-gradient(270deg, #64E0B9 0%, #4451C4 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subtitle {
    font-weight: 600;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1400px;
  }

  .cta {
    margin-top: 20px;
  }
}