.card-front {
  position: relative;
  width: 100%;
  height: 100%;

  &__title {
    display: inline-block;
    color: $black;
  }

  &__dash {
    color: $black;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: calc(100% - 23px);

    .card--nature & {
      flex-direction: column;
      align-items: center;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    width: 110px;

    span {
      display: block;

      .card--nature & {
        text-align: center;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: flex-end;

    .icon {
      width: auto;
      height: 100px;
      fill: url(#gradient-icon);

      &-nature {
        height: 115px;
      }
    }
  }

  &__ranking {
    display: inline-block;
  }

  &__graphic {
    width: 180px;
    height: 110px;

    text[text-anchor="end"] {
      font-family: $font !important;
      font-size: rem(12px) !important;
      font-weight: bold;
      fill: $purple1 !important;
    }

    text[text-anchor="middle"] {
      font-family: $font !important;
      font-size: rem(12px) !important;
      font-weight: bold;
      fill: $white !important;
    }
  }

  .icon-return-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    transform-box: fill-box; 
    animation: turn-arrow 2s ease-in-out infinite;
    fill: $purple1;
  }
}