.dropdown {
  padding: 8px 12px;
  min-width: 250px;
  height: auto;
  background-color: $white;
  border-radius: 5px;

  &__item {
    display: block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-left: 5px;
    transform: translate3d(0,0,0);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  &__checkbox {
    display: none;
  }

  .icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;

    &.is-selected {
      path {
        fill: $white;
      }
    }

    circle, path {
      stroke: none;
    }

    path {
      fill: $purple1;
    }
  }
}