.icons-jo {
  @for $i from 1 through 100 {
    div[data-rellax-speed] {
      &:nth-child(#{$i}) {

        .icon {
          position: absolute;
          top: random(370) + vh;
          left: random(25) + vw;
          width: random(60) + px;
          min-width: 30px;
          height: auto;
          opacity: random();
          fill: $white;
          z-index: 10;
        }
      }
    }

    &--right {
      div[data-rellax-speed] {
        &:nth-child(#{$i}) {
  
          .icon {
            right: random(25) + vw;
            left: unset;
          }
        }
      }
    }
  }
}