.menu-selection {
  position: absolute;
  left: 50px;
  padding: 10px;
  margin: 10px;
  height: 185px;
  width: 188px;
  overflow: hidden;
  background-color: $white;
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;
  }

  &__sport {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
  }

  &__icon {
    margin-right: 5px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: $purple;
    border-radius: 50%;
  }
}