.menu-selection {
  position: absolute;
  left: 50px;
  padding: 10px;
  margin: 10px;
  width: 188px;
  background-color: $white;
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;
  }

  &__sport {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    max-height: 120px;
    overflow: scroll;
    cursor: pointer;
  }

  &__icon {
    margin-right: 5px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: $purple;
    border-radius: 50%;
  }

  &__more {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    .icon {
      width: 12px;
      height: 12px;
      transform: rotate(90deg);
      fill: $black;
    }
  }
}