$first: 25px;
$second: 35px;
$third: 45px;
$fourth: 55px;

.ranking {
  position: relative;
  padding-top: 10px;
  width: 50px;
  height: calc(100% - 25px);
  // max-height: $first;
  background-color: $purple1;
  border-radius: 8px 8px 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -11px;
    height: 100%;
  }

  &__title {
    position: relative;
    top: -25px;
  }

  &__data {
    position: relative;
    top: 0px;
    left: 5px;
  }

  .icon {
    position: relative;
    right: -18px;
    bottom: 2px;
    fill: $white;

    &-restaurant {
      bottom: 0;
    }

    &-nature {
      bottom: -2px;
    }
  }
}