$first: 110px;
$second: 90px;
$third: 70px;
$fourth: 50px;

.ranking {
  position: relative;
  width: 50px;
  height: $first;
  background-color: $purple1;
  border-radius: 8px 8px 0 0;

  &__title {
    position: relative;
    top: -15px;
  }

  &__data {
    position: relative;
    top: 0px;
    left: 5px;
  }

  .icon {
    position: relative;
    bottom: -47px;
    right: -18px;
    fill: $white;

    &-food {
      bottom: -50px;
    }
  }
}