$first: 25px;
$second: 35px;
$third: 45px;
$fourth: 55px;

.ranking {
  position: relative;
  padding-top: 10px;
  width: 50px;
  height: 100%;
  background-color: $purple;
  border-radius: 8px 8px 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -11px;
    height: 100%;
  }

  &__title {
    position: relative;
    top: -25px;
  }

  &__data {
    position: relative;
    top: 0px;
    left: 5px;
  }

  &.first {
    max-height: calc(100% - 25px);
    background-color: $aquamarine;
  }

  &.second {
    max-height: calc(100% - 45px);
    background-color: $blueMid;
  }

  &.third {
    max-height: calc(100% - 65px);
    background-color: $blueDark;
  }

  &.fourth {
    max-height: calc(100% - 85px);
    background-color: $purple;
  }

  .icon {
    position: relative;
    right: -18px;
    bottom: 2px;
    fill: $white;

    &-restaurant {
      bottom: 0;
    }

    &-nature {
      bottom: -2px;
    }
  }
}