// GLOBAL
@import 'global/_reset.scss';
@import 'global/_utilities.scss';
@import 'global/_variables.scss';
@import 'global/_fonts.scss';
@import 'global/_typography.scss';
@import 'global/_icon.scss';
@import 'global/_cta.scss';

// COMPONENTS
@import 'components/_cards.scss';
@import 'components/_card-front.scss';
@import 'components/_card-back.scss';
@import 'components/_card-restaurant.scss';
@import 'components/_card.scss';
@import 'components/_podium.scss';
@import 'components/_ranking.scss';
@import 'components/_sports.scss';
@import 'components/_dropdown.scss';
@import 'components/_alert.scss';
@import 'components/_icons-jo.scss';
@import 'components/_menu-selection.scss';
@import 'components/_sports-families.scss';
@import 'components/_sports-family.scss';

// LAYOUTS
@import 'layouts/_header.scss';
@import 'layouts/_menu.scss';
@import 'layouts/_map.scss';
@import 'layouts/_dashboard.scss';

// PAGES
@import 'pages/_page-home.scss';
@import 'pages/_page-landing.scss';
@import 'pages/_page-selection.scss';

// SECTIONS
@import 'sections/_hero.scss';
@import 'sections/_how-it-works.scss';
@import 'sections/_switch.scss';


body {
  overflow-x: hidden;
  color: $purple1;
  font-family: $font;
  background-color: $background;
}

.content-wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  @include desktop-up {
    padding: 0;
  }
}