.concept {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 600px;
  background-color: $purple6;

  &::before {
    position: absolute;
    bottom: 600px;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 80px solid $purple6;
    content: '';
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 600px;
    width: 0;
    height: 0;
    border-top: 80px solid $purple6;
    border-left: 100vw solid transparent;
    content: '';
    z-index: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    margin-right: 60px;
    width: 450px;
    height: 450px;
    background-color: $purple4;
    border-radius: 30px;
    z-index: 90;
  } 

  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
  } 

  &__text {
    padding: 30px 0;
    color: transparent;
    background: linear-gradient($purple1, $purple1) left no-repeat, transparent;
    background-size: 0% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $purple1;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      background-size: 100% 100%;
    }
  }
}