.hero {
  padding: 200px 0;
  width: 100%;

  &__title {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
    z-index: 99;
  }

  &__image {
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
}